.products {
    color: #0000AE;
    margin: 250px 20px 0;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;

}

.product {
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    border: 2px solid #000033;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.product > img {
    display: block;
    margin: 10px auto;
    height: 220px;
}

.product div {
    padding-top: 5px;
}

.product .item-name {
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 8px;
    background: #000033;
    border-radius: 100% 0 100% 0 / 0 100% 0 100%;
}

.buy-item {
    transition: all ease 0.5s;
    margin: 10px auto 0;
    font: inherit;
    font-size: 15px;
    display: block;
    padding: 10px 16px;
    border: none;
    background: linear-gradient(360deg, #0734ED, #10106c);
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
}

.product::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: double;
    border-width: 0 0 70px 70px;
    border-color: transparent transparent navy transparent;
    bottom: 0;
    right: 0;
}

.buy-item:hover,
.buy-item:focus {
    transition: all ease 0.5s;
    background: linear-gradient(360deg, #95DBFE, #5AA9FB);
    color: #0000AE;
}
.price{
    font-size: 25px;
    margin: 5px;
    color: #95DBFE;
    align-self: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background: #000033;
    color: white;
    padding: 0 20px 10px;
}

