.item {
  visibility: hidden;
  border: 1px solid #474747;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #6979a0;
  font-size: 11px;
  padding: 1px 10px 2px 20px;
  position: relative;
  animation-name: omg;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes omg {
  0% {
    left: 0;
    top: -360px;
    visibility: visible;
  }
  100% {
    left: 0;
    top: 0;
    visibility: visible;
  }
}

.over {
  overflow: hidden;
}

$d: 15;
@for $i from 1 to 15 {
  .item:nth-child(#{$i}) {
    animation-delay: $d * 0.25s;
  }
  $d: $d+(-1);
}