.item {
  visibility: hidden;
  border: 1px solid #474747;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #6979a0;
  font-size: 11px;
  padding: 1px 10px 2px 20px;
  position: relative;
  animation-name: omg;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  left: 0;
}

/**
  ease - Анимация начинается медленно, затем ускоряется и к концу движения опять замедляется.
  ease-in - Анимация медленно начинается, к концу ускоряется.
  ease-out - Анимация начинается быстро, к концу замедляется.
  ease-in-out - Анимация начинается и заканчивается медленно.
  animation-fill-mode определяет, как нужно применять стили к объекту анимации до и после ее выполнения.
  forwards - По окончании анимации элемент сохранит стили последнего ключевого кадра
 */

@keyframes omg {
  0% {
    top: -360px;
    visibility: visible;
  }
  100% {
    top: 0;
    visibility: visible;
  }
}

.over {
  overflow: hidden;
}

$d: 19;
@for $i from 1 to $d {
  .item:nth-child(#{$i}) {
    animation-delay: $d * 0.25s;
  }
  $d: $d+(-1);
}