#pain {
    color: #a41a81;
    text-align: center;
}

#registered {
    overflow: scroll;
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #a41a81;
    width: 520px;
    height: 600px;
    /*text-align: center;*/
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000AE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00AEAE;
}

.vars {
    color: #a41a81;
}

td {
    color: #0000AE;
}

.server {
    border: #10106c 1px double;
    margin: 10px 0;
    background: rgba(0, 0, 255, 0.3);
    font-size: 12px;
}