.products {
    color: #0000AE;
    margin: 250px 20px 0;
    font-weight: bold;
}

.product {
    box-sizing: border-box;
    border: 1px #10106c solid;
    box-shadow: #0000AE 0 0 10px inset;
    width: 47%;
    display: inline-block;
    margin: 5px;
    padding: 15px;
}

.product img {
    min-height: 150px;
    display: block;
    margin: 5px auto;
    width: 150px;
}

.product div {
    padding-top: 5px;

}

.item-name {
    padding: 10px;
    color: #10106c;
    text-align: center;
    font-size: 13px;
}

.product .item-name {
    font-size: 12px;
}

