.products {
    color: #0000AE;
    margin: 20px auto;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.product {
    box-sizing: border-box;
    transition: 0.5s ease all;
    border-radius: 20px;
    width: 33%;
    border-right: 2px solid #000033;
    border-left: 2px solid #000033;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

/*.product:hover {
    transform: scale(1.01);
    transition: 0.5s ease all;
}*/

.product>img {
    min-height: 150px;
    display: block;
    margin: 5px auto;
    width: 300px;
}

.product div {
    padding-top: 5px;
}

.item-name {
    max-width: 1100px;
    padding: 10px;
    color: #95DBFE;
    text-align: center;
    font-size: 22px;
    background: #000;
    border-radius: 20px;
    margin: auto;
}

.product .item-name {
    font-size: 22px;
    color: white;
    padding: 8px;
    background: #000033;
    border-radius: 100% 0 100% 0 / 0 100% 0 100%;
}

.buy-item {
    transition: all ease 0.5s;
    margin: 10px auto 0;
    font: inherit;
    font-size: 18px;
    display: block;
    padding: 10px 16px;
    border: none;
    background: linear-gradient(360deg, #0734ED, #10106c);
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
}

/*.product::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: double;
    border-width: 58px 50px 0 0;
    border-color: #000033 transparent transparent transparent;
    top: 0;
    left: 0;
}*/

.product::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: double;
    border-width: 0 0 70px 70px;
    border-color: transparent transparent navy transparent;
    bottom: 0;
    right: 0;
}

.buy-item:focus {
    outline: none;
}

.buy-item:hover {
    transition: all ease 0.5s;
    background: linear-gradient(360deg, #95DBFE, #5AA9FB);
    color: #0000AE;
}

.sales {
    width: 70px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    height: 1.3rem;
    top: 32px;
    left: 170px;
    padding: 8px 10px;
    border: 1px solid #0000AE;
    background: rgb(255, 0, 0);
    border-radius: 0 100% 0 100% / 0 0 100% 100%;
    color: white;
}

.description {
    background: #000033;
    color: white;
    padding: 0 20px 10px;
}
.wrapper{
    margin: auto;
    text-align: center;
}
.description img{
    margin: 4px 2px;
    width: 25px;
    height: 25px;
}

