.item {
    width: 156px;
    position: absolute;
    z-index: -1;
    top: 0;
    background: linear-gradient(#b2c1e4, #6979a0);
    border: 1px solid #474747;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #6979a0;
    font-size: 11px;
    padding: 1px 10px 2px 20px;
}

.over {
    overflow: hidden;
}