.submit {
    margin: 0 160px;
    background: linear-gradient(#b2c1e4, #6979a0);
    border-bottom: 1px solid #6979a0;
    font: inherit;
    font-size: 14px;
    padding: 3px 5px;
    color: #0000AE;
}

input[type='submit'] {
    margin: 10px 210px;
}

.submit:hover {
    background: linear-gradient(#4f6fe7, #10106c);
    color: #fff;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    border: #000000 2px solid;
}

td, th {
    border: #000000 2px solid;
    padding: 4px 10px;
}

td a {
    display: block;
    text-decoration: none;
}

td:hover {
    border: #000000 2px solid;
    background: #b2c1e4;
}

input {
    margin-top: 3px;
}

#registered {
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #0000AE;
    width: 520px;
}
