h2 {
    margin: 0;
    letter-spacing: 0;
    font-family: "Tahoma", sans-serif;
    font-weight: normal;
}
.container{
    padding: 2px 25px;
}
.super_table {
    width: 95%;
    letter-spacing: 0;
    font-family: "Tahoma", sans-serif;
    border-collapse: collapse;
    color: black;
    margin: 0;
}

.super_table td, .super_table th {
    border: white 1px solid;
}

.super_table th {
    padding: 10px 8px;
}

.super_table td {
    padding: 6px 8px;
}

.super_table tr:nth-child(odd) {
    background: #f5f5f5;
}

.super_table tr:first-child {
    background: #ececec;
}

.super_table td:nth-child(4),
.super_table td:nth-child(5),
.super_table th:nth-child(4),
.super_table th:nth-child(5) {
    text-align: center;
}

.super_table td:nth-child(6),
.super_table th:nth-child(6) {
    text-align: right;
}

.super_table td:nth-child(1),
.super_table td:nth-child(2),
.super_table th:nth-child(1),
.super_table th:nth-child(2),
.super_table td:nth-child(3),
.super_table th:nth-child(3) {
    text-align: left;
}




